*.tmproj
.DS_Store
.bundle
.rspec-tm
.rvmrc
.sass-cache/
backup/*
backup/**/*
coverage
coverage.data
config/database.yml
config/secrets.yml
log/*.log
public/assets/*
public/assets/**/*
public/system/*
public/system/**/*
public/uploads/*
public/uploads/**/*
spec/examples.txt
stdout
tmp/*
tmp/**/*
config/redis.yml
config/sidekiq.yml

